* {box-sizing:border-box}

.slideshow-container {
  min-width: 100%;
  min-height: 100%;
  border: solid 2px yellow;
  position: relative;
  margin: 0;
}

.vendimation {
  position: absolute;
  right: 0px;
  top: 25px;
  z-index: 1;
  margin-right: 50px;
}

.logo {
  position: absolute;
  bottom: 45%;
  right: 40%;
  z-index: 1;
  border-radius: 20%;
  background-color: white;
  height: 20vh;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
blockquote {
  position: relative;
}

blockquote::before {
  content: open-quote;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 1.618;
  font-size: 5em;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
