.full-input {

  height: 10vh;
  background-color: white;
  margin-bottom: 8px;
  box-shadow: 2px 2px 1px 3px #eaeaea;
  border-radius: 4px;
  align-items: center;
  padding: 15px;
}

/* li:first-child {
  float:left;
}
.dropdown-main {
  float: right;
} */

h2 {
margin-bottom: 0;
}

p {
  margin-top: 0;
  color: #bfbfbf;
}

input {
  outline: none;
  border: none;
  display:block;
  line-height: 1.2em;
  font-size: 14pt;
}
label {
  display: block;
  font-size: 12px;
  color: #bfbfbf;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

/* label:last-child {
font-weight: normal;
} */

.full-input.active {
  border: 2px solid #00b2b2;
  box-shadow: none;
  caret-color: #00b2b2;
}

 .active label {
 color: #00b2b2;
}

input[type="checkbox"] {
  font-weight: 900;
  border: 0.15em solid black;
  padding: 18px;
}
input[type="checkbox"] + label {
  margin-left: 10px;
}

.red {
  color: #990000;
  text-decoration: none;
  font-weight: bolder;
  font-size: smaller;
}

.btn-blue {
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 58px;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  background: linear-gradient(to right, #5DD6F4, #1c70d1);
}

.term {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
label[for=terms] {
  font-size: 11px;
  margin-top: 9px;
}
.account {
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #bfbfbf;
  margin-bottom: 5px;
}
#pword::placeholder {
  color: black;
  letter-spacing: 0.2em;
}

.birth {
  position: relative;
}
.fa-calendar-day {
  color:#00b2b2;
  position: relative;
  bottom: 38px;
}
input[value] {
  font-size: smaller;
  margin-top: 10px;
  margin-bottom: 5px;
}

#myDIV {
  margin-top: 35px;
}
